<h2>Lista de personas</h2>
<table class="table table-striped">

    <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let persona of personas">
            <td>{{persona.cedula}}</td>
            <td>{{persona.nombres}}</td>
            <td>{{persona.apellidos}}</td>
            <td>{{persona.correo}}</td>
            <td>{{persona.telefono}}</td>
        </tr>
    </tbody>
</table>