<h2>Lista de personas</h2>
<table class="table table-striped">

    <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let persona of personas">
            <td>{{persona.cedula}}</td>
            <td>{{persona.nombres}}</td>
            <td>{{persona.apellidos}}</td>
            <td>{{persona.correo}}</td>
            <td>{{persona.telefono}}</td>
            <td><button (click)="updatePersona(persona.cedula)" class=" btn btn-info">Update</button></td>
            <td><button  (click)="eliminarPersona(persona.cedula)" class="btn btn-danger">Eliminar</button></td>
            <td><button  (click)="detallaPersona(persona.cedula)" class="btn btn-info">Vista</button></td>
        </tr>
    </tbody>
</table>