<div class="col-md-6 offset-md-3" >
    <h3>Detalle de Persona</h3>
    <div>
        <label for=""><b>Cedula: </b></label> {{persona.cedula}}
    </div>

    <div>
        <label for=""><b>Nombres: </b></label>{{persona.nombres}}
    </div>

    <div>
        <label for=""><b>Apellidos: </b></label> {{persona.apellidos}}
    </div>

    <div>
        <label for=""><b>Correo: </b></label> {{persona.correo}}
    </div>

    <div>
        <label for=""><b>Telefono: </b></label> {{persona.telefono}}
    </div>
</div>
